    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
           <li class="dropdown messages-menu">
		@menu.messages()
	   </li>
           <li class="dropdown notifications-menu">
		@menu.notifications()
	   </li>
		
          <li class="dropdown tasks-menu">
		@menu.tasks()
          </li>
          <li class="dropdown user user-menu">
		@menu.user()
          </li>

          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
