@(title : String)(content: Html)
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@title</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="@routes.Assets.versioned("dist/css/AdminLTE.min.css")">
  <link rel="stylesheet" href="@routes.Assets.versioned("dist/css/skins/skin-blue.min.css")">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    @tags.logo()
    @menu.header()
  </header>
  <aside class="main-sidebar">
    @menu.sidebar()
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	@content
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
	@footer()
  </footer>

  <aside class="control-sidebar control-sidebar-dark">
	@control()
  </aside>
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.0 -->
<script src="@routes.Assets.versioned("plugins/jQuery/jQuery-2.2.0.min.js")"></script>
<!-- Bootstrap 3.3.6 -->
<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.versioned("dist/js/app.min.js")"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>
